* {
    transition: all 1s;
}

body {
    background: #e5e7eb;
    overflow-x: hidden;
}

.chat {
    position: absolute;
    display: flex;
    gap: 10px;
    /* padding: 5px; */
    /* right: -100px !important; */
    width: 91%;
    margin: auto;
    bottom: 10px;
    right: -175px;
}

.chattext {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    /* border: 0; */
    border: 1px solid #caced1;
}

.chatsubmit {
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}

.submiticon {
    width: 40px;
    height: 40px;
    color: #0b72fa;
    cursor: pointer;
}

.chatlog {
    /* float: right; */
    margin: auto;
    text-align: center;
    /* position: absolute; */
    left: auto;
    right: auto;
}

.sidenavbar {
    position: fixed;
}

.chat_container {
    border: none;
    width: 500px;
    margin: auto;
    border-radius: 3px;
    word-wrap: break-word;
}

.container {
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.subheader {
    text-align: center;
}

.task-input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.task-form {
    text-align: center;
}

.task-form button {
    background-color: #4d79ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.task-list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.task-item button.x {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.task-item button.checkmark,
button.trash {
    /* color: #fff; */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.task-item button.x:hover {
    background-color: #e60000;
}

.task-item button.checkmark:hover,
.checked {
    background-color: #2bc72b;
}

.hidden {
    visibility: hidden;
    display: none;
}

.dropdown-item {
    display: flex;
}

.app {
    width: 312.5px;
    height: 230px;
    border-radius: 50px;
    border: 1px solid black;
    float: right;
    padding: 20px;
    margin: 20px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.timer_text {
    /* display: flex; */
    text-align: center;
    margin: auto;
}

.timer_t {
    width: 25px;
    margin: 0 auto;
}

.timer_btn {
    background-color: #4d79ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.calendar_frame {
    display: block;
    margin: 0 auto;
}

.settings_side {
    width: 100px;
    /* display: flex; */
    display: inline-block;
}

.scontainer {
    /* min-height: 900px; */
    /* display: inline-block; */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 80% !important;
}

.flexbox {
    display: flex;
}

.sflex {
    /* position: absolute; */
    /* margin: 50px; */
    float: right;
    width: 90%;
    gap: 15px;
}

.stb {
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding: 5px;
}

td {
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    border-collapse: collapse;
    padding: 10px;
    cursor: pointer;
}

.se_select {
    background-color: #707070;
    color: #fff;
    border: none;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.settings_email .set_p {
    font-weight: 500;
    text-decoration: underline;
}

table {
    height: 200px;
}

tbody {
    background: #0288d1;
    color: white;
    font-size: 1vw;
    font-family: Roboto, Arial;
}

.tr {
    border: #8b8b8b;
}

@keyframes bs {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: -10px 8px 99px;
    }
}

.settings_input {
    width: 530px;
    font-family: Roboto, Arial;
    padding: 4px;
    padding-left: 16px;
    outline: 0 none;
    border-radius: 0.25rem;
    border: 0;
    height: 50px;
    border: 1px solid #caced1;
}

.dropdown_long {
    position: relative;
    width: 30%;
}

.dropdown_long::before,
.dropdown_long::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

.dropdown_long::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.dropdown_long::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.settings_bio {
    resize: both;
    transition: none;
    width: 100%;
    max-width: 100%;
    max-height: 500px;
    padding: 15px;
    padding-top: 10px;
    font-size: 17px;
    border-radius: 5px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexbreak {
    flex-basis: 100%;
    height: 0;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.form-control {
    font-family: system-ui, sans-serif;
    /* font-size: 2rem; */
    /* font-weight: bold; */
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    width: 500px;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #0288d1;

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/*

3D Mode (warning):*/

/* * {
    animation: bs ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */