<nav class="navbar-light navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="/toastmasters.jpg" width="32" height="32">
        <a class="navbar-brand" href="/">&nbsp;Future Voices Gavel Club</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="reorder-three-outline"></ion-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <ion-icon name="home-outline" class="navbar_icon md hydrated" role="img"></ion-icon>
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Meeting Info</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Agenda</a></li>
                        <li><a class="dropdown-item" href="#">Attendance</a></li>
                        <li><a class="dropdown-item" href="#">Announcements</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <ion-icon name="calendar-outline" class="navbar_icon md hydrated" role="img"></ion-icon>
                    <a class="nav-link" href="/calendar">Calendar</a>
                </li>
            </ul>
            <% if(!user){ %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
            </ul>
            <% } else { %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 plink2">
                <li class="nav-item plink2">
                    <a class="nav-link plink" href="/@<%- user %>">@<%- user %></a>
                </li>
            </ul>
            <% } %>
            <form class="form-inline my-2 my-lg-0 flex">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 searchsubmit" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>