<div class="d-flex flex-column flex-shrink-0 bg-light fixed sidenavbar" style="width: 4.5rem;">
    <a href="/" class="d-block p-3 link-dark text-decoration-none tm" title="" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Icon-only">
        <img src="/toastmasters-transparent.png" style="width: 45px; height: 40.12px;">
        <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center sidebarstart_ul">
        <li class="nav-item">
            <a href="/" class="nav-link active py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Home">
                <ion-icon name="home-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/calendar" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Calendar">
                <ion-icon name="calendar-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/login" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Login">
                <ion-icon name="log-in-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/signup" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Signup">
                <ion-icon name="person-add-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/news" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="News">
                <ion-icon name="newspaper-outline" class="sidebar"></ion-icon>
            </a>
        </li>
    </ul>
</div>