<div class="d-flex flex-column flex-shrink-0 bg-light fixed sidenavbar" style="width: 4.5rem;">
    <a href="/~" class="d-block p-3 link-dark text-decoration-none tm" title="" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Icon-only" aria-label="Home">
        <img src="/toastmasters-transparent.png" style="width: 45px; height: 40.12px;" alt="Toastmasters ">
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center sidebar_ul">
        <li class="nav-item">
            <a href="/~" class="nav-link py-3 border-bottom HOME" aria-current="page" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Home" aria-label="Home">
                <ion-icon name="home-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/calendar" class="nav-link py-3 border-bottom CALENDAR" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Calendar" aria-label="Calendar">
                <ion-icon name="calendar-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/chat" class="nav-link py-3 border-bottom CHAT" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Orders" aria-label="Chat">
                <ion-icon name="chatbubbles-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/tasks" class="nav-link py-3 border-bottom TASKS" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Products" aria-label="Task Manager">
                <ion-icon name="list-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/competitions" class="nav-link py-3 border-bottom COMPETITIONS" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Customers" aria-label="Competitions (Beta)">
                <ion-icon name="medal-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/apps" class="nav-link py-3 border-bottom APPS" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Customers" aria-label="Apps">
                <ion-icon name="apps-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/data" class="nav-link py-3 border-bottom DATA" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Customers" aria-label="Meeting Data">
                <ion-icon name="folder-open-outline" class="sidebar"></ion-icon>
            </a>
        </li>
        <li>
            <a href="/settings" class="nav-link py-3 border-bottom SETTINGS" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Customers" aria-label="Settings">
                <ion-icon name="settings-outline" class="sidebar"></ion-icon>
            </a>
        </li>
    </ul>
    <div class="dropdown border-top">
        <a href="#"
            class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/toastmasters-transparent.png" alt="Profile Picture" width="24" height="21.4" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" data-display="static" aria-labelledby="dropdownUser3">
            <li><a class="dropdown-item" href="#"><ion-icon name="person-circle-outline" style="width: 25px;height:25px"></ion-icon> &nbsp;Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/signout"><ion-icon name="log-out-outline" style="width: 25px;height:25px"></ion-icon> &nbsp;Sign out</a></li>
        </ul>
    </div>
</div>