<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.html") %>
        <title>404 Not Found - Future Voices Toastmasters Website</title>
</head>

<body>
    <% if(user){ %>
        <%- include("./partials/sidebar.html") %>
        <link rel="stylesheet" href="/home.css">
    <% } else { %>
        <%- include("./partials/sidebar_start.html") %>
    <% } %>
    <!-- <div class="center" style="width: 5000px;"> -->
    <h1 class="subheader center large">404 Not Found<br><br><br><br><br><br><br><br></h1>
    <code class="center whitespacenormal"><b><pre class="whitespacenormal">
   ____________________________
  /  ____________       _     /|
 /  / Not Found /  ====|-|   //
/   ‾‾‾‾‾‾‾‾‾‾‾‾        ‾   //|
|‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾|//
 ‾|‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾|‾ /
  |     Toastmasters     | /
  |                      |/
   ‾‾‾‾|‾‾‾‾‾‾‾‾‾‾‾|‾‾|‾‾
       |           |  |
       |           |  |____
    ___|           |  /   /|
   /   |           | /   / |
  /____|           |/___/  |
  |                     |  |
  |    Future Voices    |  |
  |      Gavel Club     | /
  |_____________________|/</pre></b></code>
    <!-- </div> --> 
    <script src="/global.js"></script>
    <script>notify("If you find any, report issues to futurevoicesgc@gmail.com")</script>
</body>

</html>