<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.html") %>
        <title>Apps - Future Voices Toastmasters Website</title>
        <link rel="stylesheet" href="home.css">
</head>

<body>
    <%- include("./partials/sidebar.html") %>
        <div class="apps">
            <h1 class="subheader"> &nbsp; &nbsp; Apps</h1>
            <br>
            <div class="app">
                <h3 class="subheader">Timer</h3>
                <ion-icon name="hourglass-outline" class="appicon"></ion-icon>
            </div>
            <div class="app">
                <h3 class="subheader">Voice Recorder</h3>
                <ion-icon name="mic-outline" class="appicon"></ion-icon>
            </div>
            <div class="app">
                <h3 class="subheader">Video Recorder</h3>
                <ion-icon name="videocam-outline" class="appicon"></ion-icon>
            </div>
            <div class="app">
                <h3 class="subheader">Random Selection</h3>
                <ion-icon name="shuffle-outline" class="appicon"></ion-icon>
            </div>
            <div class="app">
                <h3 class="subheader">Random Number</h3>
                <ion-icon name="calculator-outline" class="appicon"></ion-icon>
            </div>
            <div class="app">
                <h3 class="subheader">Stopwatch</h3>
                <ion-icon name="stopwatch-outline" class="appicon"></ion-icon>
            </div>
            <div class="app">
                <h3 class="subheader">Random Quote</h3>
                <ion-icon name="chatbubble-ellipses-outline" class="appicon"></ion-icon>
            </div>
            <div class="app">
                <h3 class="subheader">Random Speech Prompt</h3>
                <ion-icon name="albums-outline" class="appicon"></ion-icon>
            </div>
            <!-- <div class="app">
                <h3 class="subheader">Round Timer</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Random Number</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Timer</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Voice Recorder</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Video Recorder</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Random Person Generator</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Random Number</h3>
            </div> -->
        </div>
        <script src="global.js"></script>
        <script src="apps.js"></script>
</body>

</html>