<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.html") %>
        <title>Apps - Future Voices Toastmasters Website</title>
        <link rel="stylesheet" href="home.css">
</head>

<body>
    <%- include("./partials/sidebar.html") %>
        <div class="apps">
            <div class="app">
                <h3 class="subheader">Timer</h3>
                <div class="timer_text"><input class="timer_hour timer_t">:<input class="timer_minute timer_t">:<input class="timer_second timer_t"></div>
                <br><br>
                <button class="btn_primary timer_btn">Start/End Timer</button>
            </div>
            <div class="app">
                <h3 class="subheader">Voice Recorder</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Video Recorder</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Random Person</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Random Number</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Stopwatch</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Random Quote</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Random Speech Prompt</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Round Timer</h3>
            </div>
            <!-- <div class="app">
                <h3 class="subheader">Random Number</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Timer</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Voice Recorder</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Video Recorder</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Random Person Generator</h3>
            </div>
            <div class="app">
                <h3 class="subheader">Random Number</h3>
            </div> -->
        </div>
        <script src="global.js"></script>
        <script src="apps.js"></script>
</body>

</html>