<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.html") %>
        <title>Chatroom - Future Voices Toastmasters Website</title>
        <link rel="stylesheet" href="home.css">
</head>

<body>
    <%- include("./partials/sidebar.html") %>
        <div class="container">
            <h1 class="subheader">Calendar</h1>
            <!-- <iframe
                src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&bgcolor=%23ffffff&src=ZnV0dXJldm9pY2VzZ2NAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043"
                style="border:solid 1px #777;" width="800" height="600" frameborder="0" scrolling="no" class="calendar_frame"></iframe> -->
            <iframe id="open-web-calendar" 
    style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;"
    src="https://open-web-calendar.hosted.quelltext.eu/calendar.html?hour_format=%25g%3A%25i%E2%80%AF%25a&amp;style-event-status-cancelled=true&amp;style-event-status-confirmed=true&amp;style-event-status-tentative=true&amp;url=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Fical%2Ffuturevoicesgc%2540gmail.com%2Fpublic%2Fbasic.ics"
    sandbox="allow-scripts allow-same-origin allow-top-navigation"
    allowTransparency="true" scrolling="no" 
    frameborder="0" height="600px" width="100%"></iframe>
        </div>
        <script src="global.js"></script>
        <script src="calendar.js"></script>
</body>

</html>