<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.html") %>
        <title>Settings - Future Voices Toastmasters Website</title>
        <link rel="stylesheet" href="home.css">
</head>

<body>
    <%- include("./partials/sidebar.html") %>
        <h1 class="subheader">Settings</h1>
        <br><br>
        <div class="flexbox sflex">
            <table class="stb">
                <tbody>
                    <tr>
                        <td>ACCOUNT</td>
                    </tr>
                    <tr>
                        <td>PROFILE</td>
                    </tr>
                    <tr>
                        <td>SECURITY</td>
                    </tr>
                    <tr>
                        <td>NOTIFICATIONS</td>
                    </tr>
                    <tr>
                        <td>INTERFACE</td>
                    </tr>
                </tbody>
            </table>
            <div class="scontainer">
                <h2 class="subheader" id="ACCOUNT">Account</h2>
                <h3 class="settings_head">Username: <%- user %></h3>
                <p class="settxt">Currently, you cannot change your username. People can refer to you by <b>@<%- user.replaceAll(" ","-") %>.</b></p>
                <br>
                <h3 class="settings_head">Email</h3>
                <p class="settxt">Setting your email can allow notifications and weekly newsletters (in the future) to be sent. You can control this in the <a href="#NOTIFICATIONS" style="text-decoration: none;">Notifications Section</a>.</p>
                <% if(data[1]){ %>
                <div class="settings_email">
                    <span class="set_p"><%- data[1] %></span>
                    <span>
                        <button class="se_select grey email_change" aria-label="Change Email"><ion-icon name="build-outline"></ion-icon></button>
                    </span>
                    <span>
                        <button class="se_select red email_delete" aria-label="Remove Email"><ion-icon name="trash-outline"></ion-icon></button>
                    </span>
                </div>
                <% } else { %>
                    <span>
                        <button class="se_select grey email_add"><ion-icon name="add-outline"></ion-icon></button>
                    </span>
                <% } %>
                <br>
                <h3 class="settings_head">Name</h3>
                <input placeholder="Full name (optional)" maxlength="255" type="text" class="settings_input" name="fullname">
                <br><br>
                <h3 class="settings_head" id="role">Role</h3>
                <p class="settxt">This is what it will be displayed as, not your official role.</p>
                <div class="dropdown_long">
                    <select name="role" aria-labelledby="role">
                        <option value="none">None</option>
                        <option value="member">Member</option>
                        <option value="parent">Parent</option>
                        <% if(data[2]){ %><option value="<%- data[2] %>"><%- data[2] %></option><% } %>
                    </select>
                </div>
                <br>
                <button class="btn btn-primary acc_save"><ion-icon name="save-outline"></ion-icon> Save Changes</button>
                <br><hr>
                <h2 id="PROFILE" class="subheader">Profile</h2><br>
                <p class="settxt">This will be shown on your <a href="/profile/@<%- user %>">profile</a>.</p>
                <h3 class="settings_head">Bio</h3>
                <p class="settxt">Tell us a bit about yourself:</p>
                <textarea class="settings_bio" placeholder="What is your favorite food, color, place, etc? Why did you join toastmasters?"></textarea>
                <h3 class="settings_head" id="pronouns">Pronouns</h3>
                <div class="dropdown_long">
                    <select name="pronouns" aria-labelledby="pronouns">
                        <option value="none">Don't Specify</option>
                        <option value="he">He/Him/His</option> 
                        <option value="she">She/Her/Her</option>
                        <option value="they">They/Them/Their</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <br>
                <h3 class="settings_head">Website</h3>
                <p class="settxt">Do you have a personal website?</p>
                <div class="flex">
                    <ion-icon name="attach-outline" style="width: 30px;height: 30px;"></ion-icon><input placeholder="Website URL (optional)" maxlength="255" type="text" class="settings_input" style="height: 30px" name="website">
                </div>
                <br>
                <h3 class="settings_head">Social Media</h3>
                <p class="settxt">Do you have any Social Media Accounts you would like to share?</p>
                <div class="flex">
                    <ion-icon name="link-outline" style="width: 30px;height: 30px;"></ion-icon><input placeholder="Social Media #1" maxlength="255" type="text" class="settings_input" style="height: 30px" name="sm1"><div class="flexbreak"></div>
                    <ion-icon name="link-outline" style="width: 30px;height: 30px;"></ion-icon><input placeholder="Social Media #2" maxlength="255" type="text" class="settings_input" style="height: 30px" name="sm2"><div class="flexbreak"></div>
                    <ion-icon name="link-outline" style="width: 30px;height: 30px;"></ion-icon><input placeholder="Social Media #3" maxlength="255" type="text" class="settings_input" style="height: 30px" name="sm3"><div class="flexbreak"></div>
                </div>
                <br><button class="btn btn-primary prof_save"><ion-icon name="save-outline"></ion-icon> Save Changes</button>
                <br><hr>
                <h2 id="SECURITY" class="subheader">Security</h2>
                <br>
                <h3 class="settings_head">Change Password</h3><br>
                <p class="settxt">Keep your password atleast 8 characters. This website allows most computer characters (including emojis!). Use this to your advantage, but try not to make this interfere with accessibility.</p>
                <button class="btn btn-warning security_save"><ion-icon name="build-outline"></ion-icon>&nbsp;Change Password&nbsp;</button>
                <br><br><br>
                <p class="settings_head">More updates arriving in the future...</p><br><hr>
                <h2 id="NOTIFICATIONS" class="subheader">Notifications</h2>
                <br><br>
                <h3 class="settings_head">Receive notifications..</h3>
                <p class="settxt">Because there isn't an app yet, notifications will only be shown when the website is open.</p>
                <div class="settings_notif_checkbox" name="notifications_check">
                    <label class="form-control">
                        <input type="checkbox" name="checkbox">
                        When There are new messages in chat
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        When there are new meeting plans
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        When you earn a badge
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        For Meeting Reminders
                    </label>
                </div>
                <br><br>
                <h3 class="settings_head">Receive Emails..</h3>
                <p class="settxt">This will not be activated if you do not have a verified email (you can do so in the <a href="#ACCOUNT">Account</a> section).</p>
                <div class="settings_notif_checkbox" name="email_check">
                    <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        When there is constructive criticism for your speech
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        When you earn a badge
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        For Meeting Reminders and Updates
                    </label>
                </div>
                <br><button class="btn btn-primary notif_save"><ion-icon name="save-outline"></ion-icon> Save Changes</button>
                <br><hr>
                <!-- <h1 style="font-size:99999px"><br></h1> -->
                <h2 id="INTERFACE" class="subheader">Interface</h2><br>
                <p class="settxt">These will be stored to your computer, not to the server. Suggest Themes and Effects to <a href="mailto:futurevoicesgc@gmail.com">futurevoicesgc@gmail.com</a></p>
                <h3 class="settings_head" id="theme">Theme</h3>
                <div class="dropdown_long">
                    <select name="theme" class="theme" aria-labelledby="theme">
                        <option value="light">Light Mode</option>
                        <option value="dark">Dark Mode</option> 
                        <option value="ldtime">Scheduled&nbsp; Light & Dark</option>
                        <option value="penguin">Penguin Blue</option>
                        <option value="coffee">Coffee</option>
                    </select>
                </div>
                <br>
                <h3 class="settings_head" id="effects">Effects</h3>
                <b class="settxt">These are just for fun, and should not be taken seriously.</b>
                <div class="dropdown_long">
                    <select name="effect" class="effect" aria-labelledby="effects">
                        <option value="none">None</option>
                        <option value="3d">3-D</option> 
                        <option value="3dmove">3-D Interactive (Warning)</option> 
                        <option value="bf">Shadow</option>
                    </select>
                </div>
                <br>
                <h3 class="settings_head" id="effects">Confetti</h3>
                <p class="settxt">Confetti Type (currently not available)</p>
                <div class="settings_notif_checkbox" name="confetti">
                    <label class="form-control">
                        <input type="checkbox" name="checkbox"> Polygons
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="checkbox" /> Emojis
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="checkbox" /> Circles
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="checkbox" /> Regular
                    </label>
                </div>
                <br>
                <h3 class="settings_head" id="checkbox">Checkbox</h3>
                <div class="dropdown_long">
                    <select name="checkbox" class="checkbox" aria-labelledby="checkbox">
                        <option value="check">Checkmark (Def.)</option>
                        <option value="square">Square</option>
                        <option value="circle">Circle</option>
                    </select>
                </div>
                <br>
                <h3 class="settings_head" id="effects">Explorer</h3>
                <input type="checkbox" name="checkbox" /> Show new features to your interface.
                <br><button class="btn btn-primary interface_save"><ion-icon name="save-outline"></ion-icon> Save Changes</button>
            </div>
        </div>
        <% if(pfpdata){ %><script>pfpdata = JSON.parse(`<%- JSON.stringify(pfpdata) %>`); user = `<%- user %>`</script><% } %>
        <script>data = JSON.parse(`<%- JSON.stringify(data) %>`)</script>
        <script src="settings.js"></script>
        <script src="global.js"></script>
</body>

</html>