<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.html") %>
        <title>Task Manager - Future Voices Toastmasters Website</title>
        <link rel="stylesheet" href="home.css">
</head>

<body>
    <%- include("./partials/sidebar.html") %>
        <div class="container">
            <h1 class="subheader">Task Manager</h1>
            <ul class="task-list">
                <li class="task-item hidden">
                    <button class="checkmark"><ion-icon name="ellipse-outline" style="width: 30px; height: 30px"></ion-icon></button>
                    {text}
                    <span>
                        <button class="x trash"><ion-icon name="trash-outline"></ion-icon></button>
                    </span>
                </li>
            </ul>
            <form class="task-form">
                <input type="text" class="task-input" placeholder="Enter a task" required="">
                <button type="submit">Add Task</button>
            </form>
        </div>
        <script>
            let user = "<%- user %>";
            let tasks = JSON.parse(`<%- JSON.stringify(tasks) %>`);
        </script>
        <script src="global.js"></script>
        <script src="tasks.js"></script>
</body>

</html>